<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fangfa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B69CC52E1E1CF61700C18CA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B69CC5421E1CF61700C18CA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B69CC54D1E1CF61700C18CA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
